@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&family=Space+Mono&display=swap');

.button {
    color: #F5F7FB;
    background: #4D5B9E;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: .5em 1.5em;
    transition: .5s ease;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: transparent;
    border: 1px solid #4D5B9E;
    box-shadow: 0 0 10px 0 #4D5B9E inset,
                0 0 10px 4px #4D5B9E;
    border-radius: 10px;
    color:#293264
    
}

.button_more {
    color: #F5F7FB;
    background: #4D5B9E;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: .5em 1.5em;
    transition: .5s ease;
    cursor: pointer;
}

.button_more:hover,
.button_more:focus {
    background: transparent;
    border: 1px solid #4D5B9E;
    box-shadow: 0 0 10px 0 #4D5B9E inset,
                0 0 10px 4px #4D5B9E;
    border-radius: 10px;
    color:#293264
    
}

.checkAnswers {
    text-align: center;
}
.game {
    display: flex;
    flex-direction: column;
}
.bottom {
    text-align: center;
}

.bottomBox {
    display: flex;
    justify-content: space-between;
}

.bottomBox p {
    color: #293264;
    font-weight: 500;
}

@media (min-width:600px) {
    
    .button {
        font-size: 1.1rem;
    }
}

@media (min-width:800px) {
    
    .button {
        font-size: 1.2rem;
    }
}