

.app {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    padding: 1.5em;
    background-color: #F5F7FB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

img{
    position: absolute;
}
.purple{
    bottom: 100px;
    left: 0px;
    transform: scale(3);
    filter: opacity(0.2);
}

.yellow{
    top: 0px;
    right: 0px;
    transform: scale(3) ;
    filter: opacity(0.2);
}

