

.app {
    position: relative;
    width: 800px;
    min-height: 900px;
    height: 100%;
    background-color: #f5f7fb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 10px solid rgba(97, 96, 96, 0.252);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.323);
}

img{
    position: absolute;
}
.logo1{
    bottom: 100px;
    left: 0px;
    transform: scale(3);
    filter: opacity(0.2);
}

.logo2{
    top: -30px;
    right: -250px;
    transform: scale(3) ;
    filter: opacity(0.2);
}